@import url("0-styles.css");

.features {
  text-align: center;
  padding: 80px 20px;
}

.features-grid {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.feature {
  max-width: 200px;
}

.icon {
  font-size: 48px;
  color: var(--primary);
}

@media (max-width: 480px) {
  .features-grid {
    flex-direction: column;
  }
}

